

.cropped {
  width: 200px; /* width of container */
  height: 120px; /* height of container */
  overflow: hidden;
  border: 5px solid black;
}


.cropped img {
  margin-top: -40px;
  margin-left: -10px;
  width: 210px;
}

